* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  color : #333;
  font-weight: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 250px 1fr 200px;
  grid-template-areas: "header header header"
                       "sidebar content content"
                       "footer footer footer";
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px; /* Optional space from the top */
}

.item {
  background-color: #f1ecec;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.item2 {
  grid-area: content;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-container img{
  width: 75px;
}

.table-contents ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-contents li {
  margin-bottom: 10px;
}

.table-contents a {
  text-decoration: none;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-decoration: underline;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

span {
  font-weight: bold;
}

.examples {
  font-family: 'Courier New', monospace;
  background-color: #0a0202;
  color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-x: auto;
}

.digit {
  color: blue; 
}

.lowercase {
  color: green;
}

.uppercase {
  color: red;
}

.special-char {
  color: orange; 
}

.modifier {
  color: purple; 
}

.code {
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-x: auto;
}

@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 960px; 
    margin: 20px auto;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;

  }

  .container {
    max-width: 720px; 
    margin: 20px auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"      
      "footer";
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .container {
    max-width: 300px; 
    margin: 20px auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"      
      "footer";
  }
}