* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  color : #333;
  font-weight: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 250px 1fr 200px;
  grid-template-areas: "header header header"
                       "sidebar content content"
                       "footer footer footer";
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px; /* Optional space from the top */
}

.item {
 border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.item2 {
  grid-area: content;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #333;
  color: #ff5733;
}

.header-container img{
  width: 75px;
}

.table-contents ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-contents li {
  margin-bottom: 10px;
}

.table-contents a {
  text-decoration: none;
}

#table-contents li{
  border: 1px solid #ddd;
}
#table-contents li:hover {
  background-color: #ff5733;
}

#table-contents a:visited {
  color: rgb(64, 7, 129);
}


.table-contents a {
  display: block;
  padding: 10px;
  color: #333;
}
.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-decoration: underline;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

span {
  font-weight: bold;
}

.examples {
  font-family: 'Courier New', monospace;
  background-color: #0a0202;
  color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-x: auto;
}

.digit {
  color: blue; 
}

.lowercase {
  color: green;
}

.uppercase {
  color: red;
}

.special-char {
  color: orange; 
}

.modifier {
  color: purple; 
}

.code-example {
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
  margin: 20px 0; 
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.highlighted {
  background-color: #ff5733; 
  transition: background-color 0.3s ease; 
}

#popup-link {
  border-radius: 10px;
}


input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #ff5733;
  color: white;
  border: none;
  cursor: pointer;
}

#validationResult {
  margin-top: 10px;
  font-weight: bold;
}

.summary-message{
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #64646471;
}
#about{
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  
}
.contactme{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.rounded-circle {
  border-radius: 50% !important
}
.red{
  color: rgb(153, 5, 5);
}
#about a{
  text-decoration: none;
}
#about:hover{
  background-color: #64646471;
}
.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  border-top: 1px solid #555;
  border-radius: 5px;
  margin-top: 30px;
}
#footer{
  color: rgb(153, 5, 5);
}

@media (max-width: 960px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 90%; 
    margin: 10px auto;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 90%; 
    margin: 10px auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }
    .code-example {
        font-size: 14px; 
    }
}


@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .container {
    max-width: 90%; /* Adjust the value as needed */
    margin: 10px auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"      
      "footer";
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }
  .code-example {
    font-size: 14px; 
}
}
